{# parameter: queryString #}
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
(function () {
 FreshWidget.init("", {"queryString": "{{ queryString }}", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Need Help?", "buttonColor": "white", "buttonBg": "#2980b9", "alignment": "4", "offset": "235px", "formHeight": "500px", "url": "https://gstzen.freshdesk.com"} );
})();
</script>
