{% extends "account/base.html" %}
{% load cloudzen_extras %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block breadcrumbs_outer %}{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block customcss %}

{% endblock %}

{% block content %}
<h1 class="text-center display-4 text-info"> GSTZen </h1>
<br/><br/>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
        <div class="card">
            <div class="card-block">
                <div class="form-header">
                    <h3 class="text-center"> <i class="fa fa-lock"></i> {% trans "Forgot Password ?" %} </h3>
                    <p>You can change your password here.</p>
                </div>
	        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
		    {% csrf_token %}
		    {% crispy form view.form_helper %}
		   <div class="row"><div class="pt-3 pb-3 text-center col-sm-12">
		        <button type="submit" class="btn btn-success btn-block" name="action">{% trans "Change Password" %}</button>
		    </div>
	        </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
