{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load cloudzen_extras %}
{% load crispy_forms_tags %}
{% block breadcrumbs_outer %}{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block customcss %}


{% endblock %}

{% block content %}
<h1 class="text-center display-4 text-info"> GSTZen </h1>
<br/><br/>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
        <div class="card">
            <div class="card-block">
                <div class="form-header">
		    <h3><i class="fa fa-lock"></i> {% trans "Password Reset" %} </h3>
                </div>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
		{% crispy form view.form_helper %}
        <div class="row"><div class="pt-3 pb-3 text-center col-sm-12">
           <input type="submit" class="btn btn-block btn-success" value="{% trans 'Reset My Password' %}" />
        </div></div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
