 {% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block breadcrumbs_outer %}{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1 class="text-center display-4 text-info"> GSTZen </h1>
<br/><br/>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin: auto;">
        <div class="card">
            <div class="card-block">
                <div class="form-header">
		    <h3><i class="fa fa-lock"></i> {% if token_fail %}{% trans "bad token" %}{% else %}{% trans "Change Password" %}{% endif %} </h3>
                </div>


    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
		{% crispy form view.form_helper %}
		<div class="row"><div class="pt-3 pb-3 text-center col-sm-12">
                    <input type="submit" class="btn btn-block btn-success" name="action" value="{% trans 'Change Password' %}"/>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
