{% extends "base.html" %}

{% block title %}
Waiting for output ...
{% endblock %}

{% block content %}

<div class="text-center col-sm-12 alert alert-info">
    <p>
        <i class="fa fa-clock-o fa-5x"></i>
    </p>
    <p>
        You are seeing this page because you have requested the download of
        a large file.
        <br/>
        It going to take us some time (usually a few minutes) to produce
        the file you requested.
        <br/>
        Your file will be emailed to you shortly.
    </p>
</div>

{% endblock %}
