<nav class="flex z-50 px-4 pb-2 my-2 max-w-full text-gray-700" aria-label="Breadcrumb">
    {% block breadcrumbs %}
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        {% for url, text, long_text in view.cz_breadcrumb.path %}
            {% if forloop.last %}
            <a
                class="font-bold text-gray-700 underline underline-offset-8 decoration-4 decoration-primary hover:text-primary"
                href="{{ url }}"
                >{{ text }}</a
            >
            {% else %}
            <a class="hover:text-primary" href="{{ url }}">{{ text }}</a>
            <svg
                class="mx-1 w-3 h-3 text-gray-400 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                />
            </svg>
            {% endif %}
        {% endfor %}
    </ol>
    {% endblock %}
</nav>
