{% extends 'base.html' %}

{% block title %}
    User error
{% endblock %}

{% block navbar %}{% endblock %}
{% block breadcrumbs_outer %}{% endblock %}

{% block content %}
<div class="text-center alert alert-danger">
    <p class=""><i class="fa fa-frown-o" style="font-size: 10em;"></i></p>
    <p class="display-4">We are sorry!</p>
    <p class="lead">
    Government GSTN Portal server returned an error: {{ exception_value }}
    <br/>
    Please address the issue and try again.
    <br/>
    Please visit the <a href="/">GSTZen home page</a>.
    </p>
</div>
{% endblock %}
