<div class="my-3 mx-0 row cz-rennab">
    <div class="py-2 px-2 col-md-9 cz-rennab-grey-bg">
	<a target="_blank" href="https://www.gstzen.in/a/how-to-fill-input-tax-credit-gstr3b-gstr2a-invoices.html">
	    <div class="pt-4 pb-3 ml-2">
            <h3 class="cz-rennab-text-blue">
                0% Rule - GSTR-2A Advanced Reconciliation
	        </h3>
            <h5 class="cz-rennab-text-white cz-newretforms">
                <span class="cz-newretform-link">
                    <a target="_blank" href="https://www.gstzen.in/a/how-to-fill-input-tax-credit-gstr3b-gstr2a-invoices.html">
                        Mark ITC claimed/unclaimed Invoices, Take action on
                        Wrong Invoices, E-mail Reminders to suppliers and
                        more ...
                    </a>
                </span>
            </h5>
	    </div>
	</a>
    </div>
    <div class="px-2 text-center d-flex col-md-3 cz-rennab-blue-bg justify-content-center align-items-center">
	    <a style="white-space: unset;" target="_blank" href="https://www.gstzen.in/a/how-to-fill-input-tax-credit-gstr3b-gstr2a-invoices.html" class="my-2 align-middle btn btn-danger btn-lg">Check it out!</a>
        </a>
    </div>
</div>
