<div class="my-3 mx-0 row cz-rennab">
    <div class="py-2 px-2 col-md-9 cz-rennab-grey-bg">
	<a target="_blank" href="https://www.gstzen.in/a/filing-gstr-9c-using-gstzen.html">
	    <div class="pt-4 pb-3 ml-2">
            <h3 class="cz-rennab-text-blue">
                Having trouble filing GSTR-9C?
	        </h3>
            <h5 class="cz-rennab-text-white">
                Apply Auditor DSC, upload supporting documents, and file
                GSTR-9C with no difficulty.
		    </h5>
	    </div>
	</a>
    </div>
    <div class="px-2 text-center d-flex col-md-3 cz-rennab-blue-bg justify-content-center align-items-center">
	    <a style="white-space: unset;" target="_blank"
            href="https://www.youtube.com/watch?v=UsJoQrpzyUY" class="my-2 align-middle btn btn-danger btn-lg"><i class="fa fa-youtube-play"></i>&nbsp;&nbsp;Live Demo</a>
    </div>
</div>
