<div class="my-3 mx-0 row cz-rennab">
    <div class="py-2 px-2 col-md-9 cz-rennab-grey-bg">
	<a target="_blank" href="https://www.gstzen.in/a/gstr-1-vs-gstr-2a-vs-gstr-3b-consolidated-comparison-report.html">
	    <div class="pt-4 pb-3 ml-2">
                <h3 class="cz-rennab-text-blue">
	            Have you filed your GSTR-9?
	        </h3>
                <h5 class="cz-rennab-text-white">
	            Download GSTZen's YTD report with auto-filled GSTR-9. To know more about please click here.
		</h5>
		{% comment %}
		<div class="pt-2 text-center hidden-md-up">
	            <a target="_blank" href ="https://www.gstzen.in/pdfs/consolidated-report/sample-reports/GSTZen-GSTR1-vs-2A-vs-3B-Sample.16895c08-hs.xlsx" class="btn btn-danger btn-lg" style="white-space:wrap">Download Sample</a>
		</div>
		{% endcomment %}
	    </div>
	</a>
    </div>
    <div class="px-2 text-center d-flex col-md-3 cz-rennab-blue-bg justify-content-center align-items-center">
	    <a style="white-space: unset;" target="_blank" href="https://www.gstzen.in/pdfs/consolidated-report/sample-reports/GSTZen-GSTR1-vs-2A-vs-3B-Sample.16895c08-hs.xlsx" class="my-2 align-middle btn btn-danger btn-lg">Download Sample</a>
    </div>
</div>
