<div class="my-3 mx-0 row cz-rennab">
    <div class="py-2 px-2 col-md-9 cz-rennab-grey-bg">
        <a target="_blank" href="https://www.youtube.com/watch?v=BaeF1k0JQG8">
	    <div class="pt-4 pb-3 ml-2">
            <h3 class="cz-rennab-text-blue">
                Learn the New GST Returns in just 6 minutes
            </h3>
            <h5 class="cz-rennab-text-white cz-newretforms">
                <a target="_blank" href="https://www.youtube.com/watch?v=BaeF1k0JQG8">
                    A Short Animated video explaining all about the New
                    Simplified GST Returns - English
                </a>
                <br />
                <br />
                <a target="_blank" href="https://www.youtube.com/watch?v=CTuUbwS5VqM" class="h4">
                    <u> नई GST रिटर्न्स के बारें  में एक  छोटे  एनिमेटेड वीडियो हिंदी  में देखें </u>
                </a>
		    </h5>
	    </div>
        </a>
    </div>
    <div class="px-2 text-center d-flex col-md-3 cz-rennab-blue-bg justify-content-center align-items-center">
	    <a style="white-space: unset;" target="_blank"
            href="https://www.youtube.com/watch?v=BaeF1k0JQG8" class="my-2 align-middle btn btn-danger btn-lg"><i class="fa fa-youtube-play"></i>&nbsp;&nbsp;Watch Video here</a>
    </div>
</div>
