<div class="my-3 mx-0 row cz-rennab">
    <div class="py-2 px-2 col-md-9 cz-rennab-grey-bg">
        <a target="_blank" href="https://www.gstzen.in/a/simplified-new-return-forms-overview.html">
	    <div class="pt-4 pb-3 ml-2">
            <h3 class="cz-rennab-text-blue">
                Learn about the  New Simplified GST Returns
            </h3>
            <h5 class="cz-rennab-text-white cz-newretforms">
                <a target="_blank" href="https://www.gstzen.in/a/simplified-new-return-forms-overview.html">Demystifying the new</a>
                <span class="cz-newretform-link">
                <a target="_blank" href="https://www.gstzen.in/a/new-gst-returns-form-gst-ret-1.html"><u>GST RET-1 Form</u></a>,
                <a target="_blank" href="https://www.gstzen.in/a/flow-of-invoices-new-gst-returns.html"><u>Flow of Invoices</u></a>,
                <a target="_blank" href="https://www.gstzen.in/a/compare-old-vs-new-gst-return-forms.html"><u>Compare Old vs New Forms</u></a>
                </span>
                <a target="_blank" href="https://www.gstzen.in/a/simplified-new-return-forms-overview.html"> & More...</a>
            </h5>
	    </div>
        </a>
    </div>
    <div class="px-2 text-center d-flex col-md-3 cz-rennab-blue-bg justify-content-center align-items-center">
	    <a style="white-space: unset;" target="_blank"
            href="https://www.gstzen.in/a/simplified-new-return-forms-overview.html"
            class="my-2 align-middle btn btn-danger btn-lg">Check it out!</a>
    </div>
</div>
