<div class="my-3 mx-0 row cz-rennab">
    <div class="py-2 px-2 col-md-9 cz-rennab-grey-bg">
	<a target="_blank" href="https://www.gstzen.in/a/seamless-tally-integration-with-gstzen.html">
	    <div class="pt-4 pb-3 ml-2">
            <h3 class="cz-rennab-text-blue">Tally and GSTZen, a match made in ...</h3>
            <h5 class="cz-rennab-text-white">You can now directly upload your Tally data into GSTZen.</h5>
	    </div>
	</a>
    </div>
    <div class="px-2 text-center d-flex col-md-3 cz-rennab-blue-bg justify-content-center align-items-center">
	    <a style="white-space: unset;" target="_blank" href="https://www.gstzen.in/a/seamless-tally-integration-with-gstzen.html" class="my-2 align-middle btn btn-danger btn-lg">Check it out!</a>
    </div>
</div>
