<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <title>
            Invoicing
        </title>
    </head>
    <body style="background-color: #ecf0f5;">
        <div class="container pt-3"><div class="row"><div class="col-sm-12"><div class="content">
            <h1 class="text-center">
                Dashboard
            </h1>
            <h4>
                GSTIN/PAN: 29AAFCC993M1ZR
            </h4>
            <h4 class="mb-3">
                Company Name: Cloudzen Software Labs Pvt. Ltd
            </h4>
            <div class="mb-2 card">
                <div class="card-header">
                    <h3>Please enter the following database details</h3>
                </div>
                <form>
                    <div class="mb-0 card-block form-group">
                        <label class="from-control-label requiredField">Host Name</label>
                        <input type="text" name="hostname" class="form-control"/><br/>
                        <label>Port</label>
                        <input type="text" class="form-control" name="port"/><br/>
                        <label>ODBC Connection String</label>
                        <input type="text" class="form-control" name="odbc"/><br/>
                        <label>User ID</label>
                        <input type="text" class="form-control" name="userid"/><br/>
                        <label>Password</label>
                        <input type="text" class="form-control" name="pwd"/><br/>
                        <button type="submit">Test Connection</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

