{% extends "base.html" %}
{% load cloudzen_extras %}
{% block content %}
{% cz_var_exists view.table_names %}
<div class="mt-3 card">
    <div class="card-header">
        <h3>Data Mapping (Choose the table/view that contains your invoice data)</h3>
    </div>
    <div class="card-block">
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center"> Table/View Name </th>
                    <th class="text-center"> Type </th>
                    <th class="text-center"> Action </th>
                </tr>
            </thead>
            {% for o in view.table_names %}
                <tr>
                    <td>
                        {{ o.name }}
                    </td>
                    <td class="text-center">
                        {{ o.type|title }}
                    </td>
                    <td class="text-center">
                        <a href="{% url "invoicing:data_mapping_choose_columns" configuration.uuid %}?table={{ o.name|urlencode }}" class="btn btn-sm btn-primary">Use this {{ o.type|title }}</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center">No tables found</td>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</div>

{% endblock content %}

