/db.sqlite3
config/static/generated/javascript/bundle.js
frontend/javascript/build.log
instantclient_19_8/
.envs/.development.secret

.venv
.venv3
.venv3.7
.venv-lambda
.venv-zappa
*.swp
*.pyc
.build-start-marker
.build-success-marker
.staticfiles
tags
*.retry
.coverage
aws-testing-*-*.zip
htmlcov/
.mypy_cache

celerybeat-schedule
celerybeat.pid

# npm
node_modules/
gstcomply/static/generated/version-info.txt
.nyc_output

projects/gstzen-agent-server/gstzen-agent-server/GSTZenAgent.log
aws/

/src
