{% load cloudzen_extras %}
{% block content %}
{% cz_var_exists autosync_details %}
<div class="mt-3 card">
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-inverse">
                <th class="text-center" colspan="2">Auto-Sync Details</th>
            </thead>
            {% if autosync_details %}
            <tr>
                <td class="text-left">Time period</td>
                <td class="text-left">{{ autosync_details.start_hour }}:00 to {{ autosync_details.end_hour }}:00</td>
            </tr>
            <tr>
                <td class="text-left">Time interval</td>
                <td class="text-left">{{ autosync_details.minutes }} minutes</td>
            </tr>
            <tr>
                <td class="text-left">Days of the week</td>
                <td class="text-left">{% for o in autosync_details.weekdays %} {{ o }}, {% endfor %}</td>
            </tr>
            {% else %}
                <tr><td class="text-center" colspan="1000"> Auto-Sync Not Configured</td></tr>
            {% endif %}
        </table>
        <div class="mb-2 text-center">
            <a href="{% url "invoicing:auto_sync_configuration" %}" class="btn btn-primary">Change Auto-Sync details</a>
        </div>
        </div>
</div>
{% endblock content %}

